h2 {
  transform-origin: 0 0;
  transform: rotate(90deg);
  font-family: Oxanium, cursive;
  color: #ffbf00;
  opacity: .5;
  text-shadow: 2px 2px #f00;
}

p {
  font-family: Slabo, serif;
  color: #fff;
}

cite {
  font-family: "Dancing Script", cursive;
  color: #fff;
}

.whole {
  background-color: #e78200;
}

h1 {
  color: #ffbf00;
  text-shadow: 4px 4px #811200;
}
